$gradColor1:#e12a92;
$gradColor2:#f1731c;
$backColor:#ffffff;
$borderSize:2px;

body{
  display: flex;
  background: $gradColor1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, $gradColor1, $gradColor2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, $gradColor1, $gradColor2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, $gradColor1, $gradColor2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, $gradColor1, $gradColor2); /* Standard syntax*/
  justify-content: center;
  align-items: center;
  padding:15vw;
  flex-wrap: nowrap;
  }

.layoutContainer{
  display: flex;
  background-color: $backColor;
  width:100vw;
  height:100vh;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.leftContainer{
   @extend .layoutContainer;
    width:55vw;
  flex-direction: column;

 }
.rightContainer{
  @extend .layoutContainer;
  width:15vw;
  background: -moz-linear-gradient(233deg, rgba(255,150,97,1) 0%, rgba(245,179,180,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(245,179,180,1)), color-stop(100%, rgba(255,150,97,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(233deg, rgba(255,150,97,1) 0%, rgba(245,179,180,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(233deg, rgba(255,150,97,1) 0%, rgba(245,179,180,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(233deg, rgba(255,150,97,1) 0%, rgba(245,179,180,1) 100%); /* ie10+ */
  background: linear-gradient(217deg, rgba(255,150,97,1) 0%, rgba(245,179,180,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF9661', endColorstr='#f5b3b4',GradientType=0 ); /* ie6-9 */
}
h1{
  margin-bottom: 10px;
}




